<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>main startup script</description>
        <listener-class>main.AppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>main.MainServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ResServlet</servlet-name>
        <servlet-class>main.ResServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResServlet</servlet-name>
        <url-pattern>/res/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>username</param-name>
        <param-value>[=[USER]=]</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>[=[PASS]=]</param-value>
    </context-param>
    <context-param>
        <param-name>datahost</param-name>
        <param-value>[=[HOST]=]</param-value>
    </context-param>
    <context-param>
        <param-name>database</param-name>
        <param-value>[=[BASE]=]</param-value>
    </context-param>
    <context-param>
        <param-name>dataport</param-name>
        <param-value>[=[PORT]=]</param-value>
    </context-param>
    <context-param>
        <param-name>dataext</param-name>
        <param-value>[=[EXT]=]</param-value>
    </context-param>
    <context-param>
        <param-name>dataurl</param-name>
        <param-value>[=[URL]=]</param-value>
    </context-param>
</web-app>
